* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-banner {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center 70%;
    display: grid;
    place-items: center;
    
}

.header-banner h1 {
    font-size: 6em;
    text-align: center;
    line-height: 500px;
    color: papayawhip;
    text-shadow: 5px 5px 5px black;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p, dl, ol, ul {
    font-size: 2em;
}

.into__p {
    font-size: 2em;
}

.cook-time__header {
    display: inline-block;
    font-size: 2.5em;
    text-transform: none;
    margin-right: 0.5em;
}

.cook-time__value {
    display: inline-block;
    font-size: 2.5em;
    text-decoration: underline 0.75px;
    font-style: italic;
}

.element__list dt {
    text-decoration: underline 0.5px;
}

.element__list dt::after {
    content: ': ';
  }

.element__list dd, .element__list dt {
    display: inline-block;
}

.cooking__process {
    list-style-position: inside;
    list-style-type: none;
    counter-reset: number;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.cooking__step::before {
    content: 'Шаг ' counter(number);
    counter-increment: number;
    font-weight: bold;
    position: absolute;
    top: 20px;
    padding: 0 10px;
    background-color: white;
}


.cooking__step {
    display: flex;
    width: 350px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgb(187, 187, 187);
    position: relative;
    
}



.cooking-step__discription {
    font-size: 0.7em;
    display: inline-block;
    width: 100%;
    padding: 0.75em;
    text-align: justify;
}

.container {
    width: 90%;
    margin: 0 auto 100px auto;
}

.desc {
    text-align: justify;
    font-size: 2em;
    margin: 2em 0em;
}

.cooking-step__img {
    width: 100%;
}

.cooking__note {
    clear: both;
}

.cooking__annotation {
    margin: 2em 0em;
    list-style-type: none;
}

@media screen and (max-width: 960px) {
    *{
        max-width: 100vh;
    }

    .header-banner {
        height: 50vh;
    }

    .header-banner h1 {
        font-size: 4em;
        line-height: 150%;
    }

    .container {
        padding: 5%;
    }

    h2 {
        font-size: 2.2em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
    
    h3 {
        font-size: 1.8em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    
    p, dl, ol, ul {
        font-size: 1.5em;
    }

    .cooking__process {
        grid-template-columns: 1fr 1fr;
    }

    .cooking-step {
        width: unset;
    }
}

@media screen and (max-width: 480px) {
    .cooking__process {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1200px) {
    .ingredients {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ingredients__header {
        grid-column: 1/4;
    }
}

.cooking__step {
    contain: layout inline-size;
}

@conteiner (max-width: 300px) {
    .cooking__step p {
        font-size: 0.5em;
    }
}